<!DOCTYPE html>
<html lang="en">

<% include ../common/head %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<body class="leftmenu memberprofile">

<!-- ******************************************
START SITE HERE
********************************************** -->

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="dashboard_logo" class="logo">
            <a href="/" target="_blank"><img id="logo" src="/img/logo.png" alt="CMS"></a>
        </div>
        <ul class="sidebar-nav">
            <li><a href="#">Dashboard <span><i class="fa fa-user"></i></span></a></li>
            <li><a href="/profile">Account Setting <span><i class="fa fa-cog"></i></span></a></li>
            <li>
                <a data-toggle="collapse" data-parent="#accordion" href="#cat-acc">Category<span><i class="fa fa-tag"></i></span></a>
                <ul id="cat-acc" class="collapse" style="list-style: none; padding-left: 0; background: #222333;">
                    <li><a href="/add_category">Add<span><i class="fa fa-plus"></i></span></a></li>
                    <li><a href="/list_category">List<span><i class="fa fa-list"></i></span></a></li>
                </ul>
            </li>
            <li>
                <a data-toggle="collapse" data-parent="#accordion" href="#content-acc">Blog<span><i class="fa fa-book"></i></span></a>
                <ul id="content-acc" class="collapse" style="list-style: none; padding-left: 0; background: #222333;">
                    <li><a href="/new_post">Add Content <span><i class="fa fa-plus"></i></span></a></li>
                    <li class="active"><a href="/post_list">List Content <span><i class="fa fa-list"></i></span></a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout  <span><i class="fa fa-sign-out"></i></span></a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <div id="page-content-wrapper">
            <div class="section">
                <div class="container-fluid">
                    <div class="text-center">
                        <div class="widget-title">
                            <h2 class="text-center edu-green"><strong>Content List</strong></h2>
                        </div><!-- end title -->
                    </div><!-- end title -->
                    <div class="space-top-small"></div>
                    <div class="row">
                        <table class="table table-responsive table-bordered" id="category-list-table">
                            <thead>
                            <tr>
                                <td>S.N.</td>
                                <td>Title</td>
                                <td>Category</td>
                                <td>Edit</td>
                            </tr>
                            </thead>
                            <tbody>
                            <% blog.forEach(function(blog, i) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= blog ? blog.title : 'Undefined' %></td>
                                <td><%= blog ? blog.category.categoryName : 'Not Set' %></td>
                                <td><a href="/post_list/<%= blog.id%>"><button class="btn btn-default btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="space-top"></div>
        </div>


        <% include ../common/footer %>

        <!-- end copyrights -->
        <!-- end copyrights -->
    </div>
    <!-- end page-content-wrapper -->
</div>
<!-- end wrapper -->

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#category-list-table').DataTable();
    })
</script>
</body>
</html>