<!Doctype HTML>
<html>
<head>
    <% include ../common/head %>
    <!--additional JS and css-->
</head>
<body>
<header id="header">
    <% include ../common/header %>
</header>
<section id="content_body">
    <div class="space-top"></div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit center">
                    <h1>Unauhorized user <small><font face="Tahoma" color="red">Error 403</font></small></h1>
                    <br />
                    <p>The page you requested is not authorized, either contact your webmaster or <a href="/admin">Login</a> to continue.</p>
                    <a href="/" class="btn btn-large btn-default"><i class="icon-home icon-white"></i> Take Me Home</a>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="space-top"></div>
</section>
<footer id="footer">
    <% include ../common/footer %>
</footer>
</body>
</html>
